{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bin/materialize.min.js' %}"></script>

</head>
<body>
    <header>
        <span class="logo">Лого</span>
        <ul class="main menu">
            <li><a href="#">Один</a></li>
            <li><a href="#">Два</a></li>
            <li><a href="#">Три</a></li>
        </ul>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <ul class="bottom menu">
            <li><a href="#">Один</a></li>
            <li><a href="#">Два</a></li>
            <li><a href="#">Три</a></li>
        </ul>
    </footer>
</body>
</html>