{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <span class="logo">Лого</span>
        <ul class="main menu">
            <li><a href="#">Один</a></li>
            <li><a href="#">Два</a></li>
            <li><a href="#">Три</a></li>
        </ul>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <ul class="bottom menu">
            <li><a href="#">Один</a></li>
            <li><a href="#">Два</a></li>
            <li><a href="#">Три</a></li>
        </ul>
    </footer>
</body>
</html>